@{
    ViewBag.Title = "FAQ";
}
<div class="jumbotron bg-white">
    <h1 class="display-4 text-center">FAQ</h1>
    <p>
        <div class="question">
            <strong>Is it free to use Textify?</strong>
        </div>
        <div class="answer">
            Yes, it's absolutely free to use any of services provided by Textify team.
        </div>
    </p>
    <p>
        <div class="question">
            <strong>Does Textify track anything on page it being used on?</strong>
        </div>
        <div class="answer">
            No, Textify does not track any data when beign used. You can check it by yourself at Textify Git repo: <a href="https://github.com/AlexSolari/textify">https://github.com/AlexSolari/textify</a>
        </div>
    </p>
    <p>
        <div class="question">
            <strong>I have a suggestion and/or question about Textify, where can I post it?</strong>
        </div>
        <div class="answer">
            You can post your suggestions or questions <a href="https://github.com/AlexSolari/textify/issues">here</a>.
        </div>
    </p>
    <p>
        <div class="question">
            <strong>I want to use it somewhere else (not at web page), how can I do it?</strong>
        </div>
        <div class="answer">
            You can use Textify services via <a href="@Url.Action("Info", "Api")">Textify API</a>.
        </div>
    </p>
    <p>
        <div class="question">
            <strong>I want to support Textify, how can I do it?</strong>
        </div>
        <div class="answer">
            You can help Textify team via submitting you <a href="https://github.com/AlexSolari/textify/pulls">pull-requests</a> at Git.
        </div>
    </p>
</div>